<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ====================== -->
    <!-- Appenders              -->
    <!-- ====================== -->

    <!-- logs -->
    <appender name="LOG" class="com.db.gm.logging.CustodianDailyRollingFileAppender">
        <param name="File" value="${feedLogLocation}/feeds-monitoring.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="CompressBackups" value="true"/>
        <param name="MaxNumberOfDays" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] {%t} [%p] [%X{CORRELATION_ID}%X{position}] %c - %m%n"/>
            <!--param name="ConversionPattern" value="[%d{ISO8601}] {%t} [%p] %c - %m%n"/-->
        </layout>
    </appender>

    <appender name="LOG-ERR" class="com.db.gm.logging.CustodianDailyRollingFileAppender">
        <param name="Threshold" value="WARN"/>
        <param name="File" value="${feedLogLocation}/feeds-monitoring-error.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="MaxNumberOfDays" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] {%t} [%p] [%X{CORRELATION_ID}%X{position}] %c - %m%n"/>
            <!--param name="ConversionPattern" value="[%d{ISO8601}] {%t} [%p] %c - %m%n"/-->
        </layout>
    </appender>

    <!-- ZK Curator appender to limit logfile size -->
    <appender name="LOG-ZK" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${feedLogLocation}/zk.log" />
        <param name="maxFileSize" value="100MB" />
        <param name="maxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] {%t} [%p] [%X{CORRELATION_ID}%X{position}] %c - %m%n"/>
        </layout>
    </appender>

    <-- Edit log4j2.xml file if required to view CloudIDP Logging: -->

    <RollingFile name="jwt_log" fileName="../logs/jwt.log" filePattern="../logs/jwt.log.%d{yyyy-MM-dd}">
       <PatternLayout pattern="%d %p [%t] %c - %m%n"/>
       <Policies>
         <TimeBasedTriggeringPolicy interval="1"/>
       </Policies>
    </RollingFile>
    <Logger name="com.db.cidp" additivity="false" level="debug">
     <AppenderRef ref="jwt_log"/>
    </Logger>

    <!-- ====================== -->
    <!-- Categories             -->
    <!-- ====================== -->

    <logger name="com.db.gm.feeds" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="LOG"/>
        <appender-ref ref="LOG-ERR"/>
    </logger>

    <!-- ZK Curator logger to limit logfile size -->
    <logger name="org.apache.curator" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="LOG-ZK"/>
    </logger>

    <!-- root -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="LOG"/>
        <appender-ref ref="LOG-ERR"/>
    </root>
</log4j:configuration>
